<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger additivity="false" level="DEBUG" name="example">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger level="DEBUG" name="com.yahoo.elide.Elide">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger additivity="false" level="DEBUG" name="com.yahoo.elide.datastores.hibernate5.porting.SessionWrapper">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger additivity="false" level="DEBUG" name="com.yahoo.elide.datastores.jpa.porting.EntityManagerWrapper">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger additivity="false" level="DEBUG" name="org.hibernate.SQL">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger additivity="false" level="TRACE" name="org.hibernate.type.descriptor.sql.BasicBinder">
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>