<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger additivity="false" level="DEBUG" name="example">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <!--<springProfile name="dev,staging">-->
    <!--</springProfile>-->
    <!--<springProfile name="production">-->
    <!--<logger name="com.abc.wallee.command.account" level="WARN" additivity="false">-->
    <!--<appender-ref ref="FILE"/>-->
    <!--</logger>-->
    <!--</springProfile>-->
</configuration>